@model IEnumerable<saglikveri.Bloglar>

@{
    ViewBag.Title = "Bloglar";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bloglar</h4>
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Blog Adı</th>
                            <th>Blog Tarih</th>
                            <th>Kategori</th>
                            <th>Aktif Mi ?</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.blogAdi</td>
                            <td>@item.blogTarih</td>
                            <td>@item.Kategori.kategoriAdi</td>
                            <td>@item.blogaktif</td>
                            <td>@Html.ActionLink("Düzenle", "Edit", new { id = item.blogid }) </td>
                        </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
